/* body{
    background-image: url('../bg2.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
} */
#main {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#sidebar {

    width: 15%;
    position: absolute;
    float: left;
    top: 0px;
    left: 2px;
    top: 0;
    left: 0;
    height: 74vmax;
    background: #3B5998;
    color: #FFFFFF;
    z-index: 9999;

}

#logo1 {

    width: 80%;
    padding: 25px 20px;
    background: #283B66;
    border-bottom: solid 1px #FFFFFF;
}

#logo {

    background: #283B66;
    height: 140px;
}

#content {
    width: 86.1%;
    display: block;
    margin-top: -8px;
    margin-right: -10px;
    background: #F5F5F5;
    z-index: 9999999;
    float: right;

}

#content header {
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: center;
    width: 100%;
    color: #FFFFFF;
    background: #283B66;
    height: 190px;
    border-bottom: solid 1px #FFFFFF;
    font-size: 7px;
    text-shadow: 5px 4px 7px #666666;


}

#content header p {
    text-align: center;
    font-size: 9px;


}

#center {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

#one {
    float: left;
    margin: 30px 335px;
    text-align: justify;
    width: 70%;
}

#one a {
    text-decoration: none;
    font-weight: 700;
    color: #283B66;


}

#one p {

    font-size: 13px;
    padding: 2.5% 5%;
    margin: 0px;
}

#one h1 {
    font-size: 16px;
    margin: 0px;
    padding: 2.5%;
    background: rgba(59, 89, 152, 0.5);
    color: #FFFFFF;
    font-weight: 400;
}

.clear {
    clear: both;
}

.date {
    font-family: Georgia, "Times New Roman", Times, serif;
    height: 62px;
    width: 62px;
    background: rgba(59, 89, 152, 0.5);
    display: block;
    margin: 2.5%;
    border-radius: 25%;
    color: #FFFFFF;
    float: left;
}

.day em {
    font-size: 25px;
    text-align: left;
    display: block;
}

.rightside {
    width: 64%;
    float: right;
}

.rightside a {
    text-decoration: none;
    color: #283B66;
    font-weight: 700;
}

#footer {
    z-index: 99999;
    background: #FFFFFF;
    width: 100%;
    float: right;
    height: 140px;
}

#menu {
    height: 35vmax;

}

#menu ul {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 0px;
    position: absolute;
    float: left;
    background: #3B5998;
    color: #FFFFFF;
    z-index: 9999;
}

#menu li {
    position: relative;
    margin: 0;
    padding: 0;
    border-bottom: solid 1px #CCCCCC;
}

#menu ul li {
    background-color: #3B5998;

}

#menu ul li a {
    text-decoration: none;
    font-size: 19px;
    position: relative;
    display: block;
    padding: 8px 23px;
    color: #FFFFFF;
    z-index: 2;


}

#menu li ul {
    position: absolute;
    visibility: hidden;
    left: 100%;
    top: -1px;
    background-color: #3B5998;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    opacity: 0;

}

/* #menu ul li a:hover
{
     color: #FFFFFF;
    background: #283B66;
	-webkit-transition: background 0.4s linear 0s, color 0.4s linear 0s;
}

#menu  li:hover > ul
{

visibility:visible;
opacity:1;

}
.fa-home:before
 
{
    content: "\f015";
} */

#menu .fa {
    margin-right: 5px;

}

#m img {
    margin-left: 40px;
}